.cartProduct {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cartProduct__Info {
    padding-left: 20px;
}

.cartProduct__Info > button {
    background :#f0c14b;
    border: solid 1px;
    margin-top: 10px;
    padding: 10px;
    color: black;
    border-color: #a88734, #9c7e31, #846a29;
}

.cartProduct__Image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.cartProduct__Rating {
    display: flex;
}

.cartProduct__Title {
    font-size: 17px;
    font-weight: 800;
}